@import '../../global-variables.scss';

.calculator {
    margin-top: 128px;
    background-color: #fff;
    border-radius: 15px;
    
    &__header {
        background-color: $main-color-green;
        margin-bottom: 8px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 16px;
    }

    &__data {
        padding: 0 16px 16px;
    }

    &__total {
        margin-top: 16px;
        font-weight: 500;
    }
}