@import 'materialize-css';
@import 'global-variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 32px;

  &_black {
    color: #000;
  }

  &_tiny {
    font-size: 24px;
  }
}

.btn {
  background-color: $main-color-green;

  &:hover, &:focus {
    background-color: $main-color-green-dark;
  }
}

.link {
  color: $link-color;
  font-size: 16px;
}